[Unit]
Description=Skillbox Diploma-1
Requires=docker.service
After=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=/usr/bin/docker pull {{ skill_app_1 }}
ExecStart=/usr/bin/docker run -d --name skillbox_diploma_1 -p 80:8080 -d {{ skill_app_1 }}
TimeoutSec=35

[Install]
WantedBy=multi-user.target
